[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# reminder to self: spin SDK packages are injected by Spin's build process
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
